%theme-default-slider-progress {
  position: relative;

  .slider-progress {
    background-color: var(--color-primary, blue);
    animation-timing-function: linear;
    position: absolute;
    bottom:0;
    left:0;
  }
}
